@import "neat/neat-helpers";

// Change the grid settings
$column: 100%;
$gutter: 5%;
$grid-columns: 12;
$max-width: 100%;
$visual-grid: true;

// Define your breakpoints
$desktopL: new-breakpoint(min-width 1281px 12);
$desktopM: new-breakpoint(max-width 1280px 12);
$desktopS: new-breakpoint(max-width 1024px 12);
$tablet:   new-breakpoint(max-width 768px 12);
$mobile:   new-breakpoint(max-width 480px 12);